.headbar-menu-toggle {
  border: white 2px solid;
  padding: 0.2rem 0.55rem;
  border-radius: 5px;
  cursor: pointer;
}

.head-container > span {
  font-size: 125%;
  user-select: none;
}

.sidebar-container input {
  width: 100%;
}

.sidebar-container {
  color: white;
  width: 100%;
  max-width: 600px;
  right: 0;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offset-right {
  transform: translateX(110%);
  top: 3rem;
}

.sidebar-modal {
  top: 3rem;
  z-index: 2;
}

.card-container {
  margin-top: 3.8rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  gap: 0.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(445px, 1fr));
  justify-items: center;
}

.list-container {
  margin-top: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem 1.8rem;
  justify-content: center;
}

.card {
  background-color: #032a3c;
  color: white;
  padding: 1rem;
  display: grid;
  grid-template-columns: minmax(25%, 1fr) 1.5fr;
  width: 100%;
  max-width: 600px;
  gap: 1rem;
  max-height: 330px;
  overflow: hidden;
  margin-inline: 0.5rem;
}

.card img,
.my-card img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.list-container p {
  margin-bottom: 0;
  font-style: italic;
}

.my-card {
  width: 200px;
  background-color: #032a3c;
  color: white;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  max-height: fit-content;
  gap: 0.5rem;
}

body > main:nth-child(2) {
  background-color: #021323;
  overflow: auto;
  min-height: 100vh;
}

h4 {
  margin: 0;
}

.sidebar-container span {
  margin-top: 0.2rem;
  display: inline-block;
}

.sidebar-genre-toggle,
.sidebar-theme-toggle,
.sidebar-demo-toggle,
.sidebar-status-toggle {
  user-select: none;
  margin-top: 2rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.fa-square-check,
.fa-square-xmark,
.fa-square {
  margin-left: 0.5rem;
  cursor: pointer;
}

.fa-square-check {
  background: linear-gradient(0deg, rgb(10, 121, 10) 79%, #064663 100%);
  border-radius: 30px;
  height: 0.9rem;
}

.fa-square-xmark {
  background: linear-gradient(0deg, rgb(172, 5, 5) 79%, #064663 100%);
  border-radius: 30px;
  height: 0.9rem;
}

.no-find {
  color: white;
  position: fixed;
  top: 20%;
}

.detail-container {
  position: fixed;
  width: 90%;
  max-width: 650px;
  height: fit-content;
  max-height: 85%;
  overflow: auto;
  top: 10%;
  background-color: #106e99;
  padding: 1.5rem 2.5rem;
  display: grid;
  grid-template-areas:
    "img title"
    "tag tag"
    "desc desc";
  grid-template-columns: 2fr 3fr;
  gap: 10px;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.detail-title {
  grid-area: title;
}

.detail-desc {
  grid-area: desc;
  margin: 0;
  line-height: 1.3;
}

.detail-tag {
  grid-area: tag;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.detail-tag span {
  margin-right: 0.6rem;
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
  padding: 0.2rem 0.4rem;
  background-color: #c4a876;
  border-radius: 7px;
  user-select: none;
}

/* demographic */
.detail-tag span.detail-demographic-tag {
  background-color: darkgoldenrod;
}

.detail-img {
  grid-area: img;
  width: 100%;
}

.detail-status {
  margin-left: 1rem;
  font-size: 90%;
}

div.detail-title > p:nth-child(1) {
  font-weight: bold;
  font-size: 120%;
  margin-top: 0;
  margin-bottom: 0.3em;
}

div.detail-title > p:nth-child(2) {
  font-style: italic;
  margin: 0;
}

.detail-save {
  background-color: rgb(78, 168, 71);
  border-radius: 5px;
  border-style: none;
  padding: 0.2rem 0.5rem;
}

.detail-remove {
  background-color: rgb(184, 57, 57);
  border-radius: 5px;
  border-style: none;
  padding: 0.2rem 0.5rem;
}

.fa-star {
  color: gold;
  font-size: 75%;
  position: relative;
  bottom: 0.1rem;
  left: 0.2rem;
}

.show-list {
  text-align: center;
  user-select: none;
}

.show-list:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sidebar-status,
.sidebar-demos,
.sidebar-genres,
.sidebar-themes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-items: right;
  margin-right: 2rem;
  margin-left: -2.5rem;
}

.sidebar-themes {
  margin-bottom: 3rem;
}

#import-list {
  width: 38%;
}

#export-list {
  display: none;
}

.sidebar-import {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 0.8em;
  margin-inline: -2em;
}

.import-button,
.export-clipboard {
  cursor: pointer;
}

.lower-sidebar {
  margin-bottom: 2.5em;
}

.clipboard-notif {
  position: absolute;
  bottom: 6em;
  color: #064663;
  user-select: none;
  text-align: center;
  transition: 3.5s ease-in;
  opacity: 0;
}

.export-clipboard:active ~ .clipboard-notif {
  color: white;
  opacity: 1;
  transition: 0.1s;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: fixed;
  top: 40vh;
  left: 45vw;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div::after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: rgb(122, 173, 240);
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.hidden {
  display: none;
}
