.headbar-menu-toggle {
  border: white 2px solid;
  padding: 0.2rem 0.55rem;
  border-radius: 5px;
  cursor: pointer;
}

.head-container > span {
  font-size: 125%;
  user-select: none;
}

.sidebar-container input {
  width: 100%;
}

.sidebar-container {
  color: white;
  width: max(400px, 60vw);
  max-width: 600px;
  right: 0;
}

.sidebar-modal {
  top: 3rem;
  z-index: 2;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 3.5rem;
}

.card {
  background-color: #032a3c;
  color: white;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  max-width: 600px;
  margin: 1rem;
  gap: 1rem;
  max-height: 330px;
  overflow: auto;
}

.card img {
  width: 100%;
}

body > main:nth-child(2) {
  background-color: #021323;
  overflow: auto;
  min-height: 100vh;
}

h4 {
  margin: 0;
}

.sidebar-container span {
  margin-top: 0.2rem;
  display: inline-block;
}

.sidebar-genre-toggle,
.sidebar-theme-toggle,
.sidebar-demo-toggle,
.sidebar-status-toggle {
  user-select: none;
  margin-top: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.fa-square-check,
.fa-square-xmark,
.fa-square {
  margin-left: 0.5rem;
  cursor: pointer;
}

.fa-square-check {
  background: linear-gradient(0deg, rgb(10, 121, 10) 79%, #064663 100%);
  border-radius: 30px;
  height: 0.9rem;
}

.fa-square-xmark {
  background: linear-gradient(0deg, rgb(172, 5, 5) 79%, #064663 100%);
  border-radius: 30px;
  height: 0.9rem;
}

.no-find {
  color: white;
}

.detail-container {
  position: fixed;
  width: 95%;
  max-width: 650px;
  height: fit-content;
  top: 8%;
  background-color: #106e99;
  padding: 1.5rem 2.5rem;
  display: grid;
  grid-template-areas:
    "img title"
    "tag tag"
    "desc desc";
  grid-template-columns: 2fr 3fr;
  gap: 10px;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.detail-title {
  grid-area: title;
}

.detail-desc {
  grid-area: desc;
  margin: 0;
}

.detail-tag {
  grid-area: tag;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.detail-tag span {
  margin-right: 0.6rem;
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
  padding: 0.2rem 0.4rem;
  background-color: #c4a876;
  border-radius: 7px;
}

.detail-img {
  grid-area: img;
  width: 100%;
}

div.detail-title > p:nth-child(1) {
  font-weight: bold;
  font-size: 120%;
  margin-top: 0;
  margin-bottom: 0.3em;
}

div.detail-title > p:nth-child(2) {
  font-style: italic;
  margin: 0;
}

.detail-save {
  background-color: rgb(169, 179, 83);
  border-radius: 5px;
  border-style: none;
  padding: 0.2rem 0.5rem;
}

.detail-remove {
  background-color: rgb(184, 57, 57);
  border-radius: 5px;
  border-style: none;
  padding: 0.2rem 0.5rem;
}

.fa-star {
  color: gold;
  font-size: 75%;
  position: relative;
  bottom: 0.1rem;
  left: 0.2rem;
}

.show-list {
  text-align: center;
  user-select: none;
}

.show-list:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sidebar-status,
.sidebar-demos,
.sidebar-genres,
.sidebar-themes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-items: right;
  margin-right: 1.2rem;
}

.hidden {
  display: none;
}
